[submodule "symbolic_extractor"]
	path = symbolic_extractor
	url = git@github.com:TianAn2411/Symbolic-Extractor.git
[submodule "symbolic_action"]
	path = symbolic_action
	url = git@github.com:TianAn2411/symbolic-action.git
